// LOADER
.spinner {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinner-opacity 3000ms forwards;
  z-index: 2;
}

.icons {
  width: 20vw;
  height: 20vw;
  position: relative;
  @media screen and (min-width: 992px) {
    width: 10vw;
    height: 10vw;
  }
}

.bg-icons {
  background-color: #9356dc;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-icons 2500ms forwards;
  @media screen and (min-width: 992px) {
    width: 15vw;
    height: 15vw;
  }
}

.icons img {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: load-icons 550ms ease-in-out both;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation-delay: 550ms * $i;
    }
  }
}

@keyframes spinner-opacity {
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bg-icons {
  0% {
    transform: scale(0);
  }
  10%,
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes load-icons {
  0% {
    transform: scale(0);
  }
  33% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

// HEART FAV
.fa-regular.fa-heart {
  font-size: 1.4em;
  position: absolute;
  right: 5vw;
  opacity: 1;
  z-index: 1;
  &:hover,
  &:active,
  &:focus {
    opacity: 0;
    transition: opacity 800ms;
    + .fa-solid.fa-heart {
      visibility: visible;
      transform-origin: bottom;
      opacity: 1;
      transition: opacity 800ms;
    }
  }
}

.fa-solid.fa-heart {
  font-size: 1.4em;
  position: absolute;
  right: 5vw;
  visibility: hidden;
  opacity: 0;
}

.bg-heart {
  cursor: pointer;
  background: linear-gradient(171deg, $color-secondary 0%, $color-primary 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
