// LOADER
.spinner {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinner-opacity 3000ms forwards;
  z-index: 2;
}

.icons {
  width: 20vw;
  height: 20vw;
  position: relative;
  @media screen and (min-width: 992px) {
    width: 10vw;
    height: 10vw;
  }
}

.bg-icons {
  background-color: #9356dc;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-icons 2500ms forwards;
  @media screen and (min-width: 992px) {
    width: 15vw;
    height: 15vw;
  }
}

.icons img {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: load-icons 550ms ease-in-out both;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation-delay: 550ms * $i;
    }
  }
}

@keyframes spinner-opacity {
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bg-icons {
  0% {
    transform: scale(0);
  }
  10%,
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes load-icons {
  0% {
    transform: scale(0);
  }
  33% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

// HEART FAV
.fa-regular.fa-heart {
  font-size: 1.4em;
  position: absolute;
  right: 5vw;
  opacity: 1;
  z-index: 1;
  &:hover,
  &:active,
  &:focus {
    opacity: 0;
    transition: opacity 800ms;
    + .fa-solid.fa-heart {
      visibility: visible;
      transform-origin: bottom;
      opacity: 1;
      transition: opacity 800ms;
    }
  }
}

.fa-solid.fa-heart {
  font-size: 1.4em;
  position: absolute;
  right: 5vw;
  visibility: hidden;
  opacity: 0;
}

.bg-heart {
  cursor: pointer;
  background: linear-gradient(171deg, $color-secondary 0%, $color-primary 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// APPEARANCE DISHES (TOP & DELAY)
@keyframes appearance {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

.appearance {
  animation: appearance 1.5s ease-in-out;
}

.dish1 {
  animation-delay: 0ms;
}

.dish2 {
  animation-delay: 150ms;
}

.dish3 {
  animation-delay: 300ms;
}

.dish4 {
  animation-delay: 400ms;
}

// DISH HOVER
.card-dish {
  transition: padding-right 300ms ease-in-out;
  &:hover {
    padding-right: 20vw;
    @media screen and (min-width: 769px) and (max-width: 991px) {
      padding-right: 12vw;
    }
    @media screen and (min-width: 992px) {
      padding-right: 8vw;
    }
    .dish-animation {
      opacity: 1;
      transform: translate(-10vw);
    }
    .fa-circle-check {
      transform: rotate(1turn);
    }
  }
}

.dish-animation {
  width: 15vw;
  height: 100%;
  right: -10vw;
  @media screen and (min-width: 769px) and (max-width: 991px) {
    width: 10vw;
  }
  @media screen and (min-width: 992px) {
    width: 6vw;
  }
  background-color: #99e2d0;
  &:active {
    background-color: #9356dc;
    transition: background-color 500ms ease-in-out;
    .fa-circle-check {
      background-color: #9356dc;
      transition: background-color 500ms ease-in-out;
    }
  }
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
  .fa-circle-check {
    color: white;
    background-color: #99e2d0;
    transition: transform 500ms ease-in-out 100ms;
  }
  font-size: 1.5em;
}
