footer {
  background-color: #343434;
  display: flex;
  flex-direction: column;
  padding: 25px;
  line-height: 1.7em;
  color: white;
  @media screen and (min-width: 992px) {
    padding: 3vw 10vw;
  }
}

footer a {
  color: white;
}

.contact:hover {
  color: $color-tertiary;
}

.fa-utensils {
  padding-right: 14px;
  padding-left: 2px;
}

.fa-handshake-angle {
  padding-right: 10px;
}
