@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,650;0,900;1,100;1,300;1,400;1,500;1,650;1,900&family=Shrikhand&display=swap");
a {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
}

.fa-arrow-left {
  font-size: 1.3em;
  position: absolute;
  left: 5%;
  top: 45%;
}
.fa-arrow-left:hover {
  color: #9356dc;
  font-size: 1.5em;
}

.menu {
  margin-top: -50px;
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 40px 40px 0 0;
}
.menu .resto-name-fav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
}
.menu .resto-name-fav h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
  font-weight: 400;
}
.menu .starters,
.menu .main-course,
.menu .desserts {
  margin-top: 10px;
}
.menu h3 {
  font-size: 0.9em;
  font-weight: 400;
  padding: 10px 0;
}
.menu h3::after {
  content: "";
  display: block;
  width: 36px;
  padding-top: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu .card-dish {
  background-color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  transition: padding-right 300ms ease-in-out;
}
.menu .card-dish:hover {
  padding-right: 20vw;
}
.menu .card-dish:hover .dish-animation {
  opacity: 1;
  transform: translate(-10vw);
}
.menu .card-dish:hover .fa-circle-check {
  transform: rotate(1turn);
}
.menu .card-dish:active .dish-animation {
  background-color: #9356dc;
}
.menu .card-dish:active .dish-animation .fa-circle-check {
  background-color: #9356dc;
}
.menu .card-dish h4 {
  font-size: 1em;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .card-dish .description-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu .card-dish .description-price .description {
  font-size: 0.83em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 7px;
}
.menu .card-dish .description-price .price {
  font-weight: bold;
  font-size: 0.9em;
}
.menu .card-dish .dish-animation {
  width: 15vw;
  height: 100%;
  right: -10vw;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}
.menu .card-dish .dish-animation .fa-circle-check {
  color: white;
  background-color: #99e2d0;
  font-size: 1.5em;
  transition: transform 500ms ease-in-out 100ms;
}

@keyframes appearance {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
.appearance {
  animation: appearance 1.5s ease-in-out;
}

.dish1 {
  animation-delay: 0;
}

.dish2 {
  animation-delay: 150ms;
}

.dish3 {
  animation-delay: 300ms;
}

.dish4 {
  animation-delay: 400ms;
}

@media screen and (min-width: 992px) {
  header > img {
    height: 67vh;
  }
  .menu {
    margin: -50px auto 0 auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
  }
  .menu .card-dish {
    padding: 20px;
  }
  .menu .resto-name-fav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .menu .card-dish:hover {
    padding-right: 6vw;
  }
  .menu .card-dish:hover .dish-animation {
    transform: translate(-5vw);
  }
  .menu .card-dish .dish-animation {
    width: 5vw;
    right: -5vw;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font-family: 'Roboto', sans-serif; */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .grid-restos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
  }
}
@media screen and (min-width: 992px) {
  .dishes {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    margin: auto;
    gap: 3vw;
  }
}
header {
  text-align: center;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  padding-top: 10px;
}

.logo {
  width: 200px;
  padding: 10px;
}

header > img {
  width: 100%;
  height: 36vh;
  object-fit: cover;
}

footer {
  background-color: #343434;
  display: flex;
  flex-direction: column;
  padding: 25px;
  line-height: 1.7em;
  color: white;
}
@media screen and (min-width: 992px) {
  footer {
    padding: 3vw 10vw;
  }
}

footer a {
  color: white;
}

.btn {
  color: white;
  font-size: 1em;
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  background: rgb(255, 121, 218);
  background: -moz-linear-gradient(171deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 75%);
  background: -webkit-linear-gradient(171deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 75%);
  background: linear-gradient(171deg, #ff79da 0%, #9356dc 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff79da",endColorstr="#9356dc",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff79da",endColorstr="#9356dc",GradientType=1);
}
.btn:hover {
  -webkit-box-shadow: 4px 5px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 5px 15px 1px rgba(0, 0, 0, 0.75);
  background: linear-gradient(171deg, #fface8, #ae80e5);
}

.order {
  text-align: center;
}
.order .btn {
  width: 50vw;
}
@media screen and (min-width: 992px) {
  .order .btn {
    width: 33vw;
    margin-top: 50px;
  }
}

body {
  max-width: 768px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h6 {
  font-weight: 500;
}

h3,
h4,
h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 10px;
}

.localization {
  height: 55px;
  line-height: 55px;
  background-color: #e8e8e8;
}

.fa-location-dot {
  translate: -15px;
}

h2 {
  font-size: 1em;
  font-weight: 500;
}

.explore {
  padding: 40px 30px;
  text-align: center;
  background-color: #f6f6f6;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 25px;
}

section {
  padding: 40px 20px;
}

.step {
  background-color: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 0 0 20px 20px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.step .fa-solid {
  padding-right: 20px;
}
.step:hover {
  background-color: #f3ecff;
}
.step:hover .fa-solid {
  color: #9356dc;
}

.number {
  color: white;
  background: #9356dc;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.7em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  translate: -40px;
}

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 1.1em;
}

.restaurants {
  background-color: #f6f6f6;
}

.fa-regular.fa-heart {
  font-size: 1.4em;
  position: absolute;
  right: 5vw;
  opacity: 1;
  z-index: 1;
}
.fa-regular.fa-heart:hover, .fa-regular.fa-heart:active, .fa-regular.fa-heart:focus {
  opacity: 0;
  transition: opacity 800ms;
}
.fa-regular.fa-heart:hover + .fa-solid.fa-heart, .fa-regular.fa-heart:active + .fa-solid.fa-heart, .fa-regular.fa-heart:focus + .fa-solid.fa-heart {
  visibility: visible;
  transform-origin: bottom;
  opacity: 1;
  transition: opacity 800ms;
}

.fa-solid.fa-heart {
  font-size: 1.4em;
  position: absolute;
  right: 5vw;
  visibility: hidden;
  opacity: 0;
}

.bg-heart {
  cursor: pointer;
  background: linear-gradient(171deg, #ff79da 0%, #9356dc 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-resto {
  height: 30vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 13px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 20px;
  position: relative;
}
.card-resto:hover {
  margin-top: -5px;
  box-shadow: rgba(147, 86, 220, 0.3) 0px 1px 2px 0px, rgba(147, 86, 220, 0.3) 0px 2px 6px 2px;
}
.card-resto img {
  max-width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 13px 13px 0 0;
}
.card-resto .new {
  background-color: #99e2d0;
  color: #25836c;
  position: absolute;
  top: 1.5vh;
  right: 2.5vw;
  padding: 7px 15px;
  border-radius: 3px;
  font-weight: 650;
}

.container {
  margin: auto 0;
}

.resto-place-fav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

h6 {
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  font-weight: 400;
  padding-bottom: 10px;
}

.fa-utensils {
  padding-right: 14px;
  padding-left: 2px;
}

.fa-handshake-angle {
  padding-right: 10px;
}

.spinner {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinner-opacity 3000ms forwards;
}

.icons {
  width: 20vw;
  height: 20vw;
  position: relative;
}

.bg-icons {
  background-color: #9356dc;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-icons 2500ms forwards;
}

.icons img {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: load-icons 550ms ease-in-out both;
}
.icons img:nth-child(1) {
  animation-delay: 550ms;
}
.icons img:nth-child(2) {
  animation-delay: 1100ms;
}
.icons img:nth-child(3) {
  animation-delay: 1650ms;
}
.icons img:nth-child(4) {
  animation-delay: 2200ms;
}
.icons img:nth-child(5) {
  animation-delay: 2750ms;
}
.icons img:nth-child(6) {
  animation-delay: 3300ms;
}

@keyframes spinner-opacity {
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes bg-icons {
  0% {
    transform: scale(0);
  }
  10%, 90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes load-icons {
  0% {
    transform: scale(0);
  }
  33% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    max-width: 992px;
  }
  .explore-opeation {
    display: flex;
    flex-direction: row;
  }
  .explore {
    width: 50%;
    background-color: #f3ecff;
  }
  .operation {
    width: 50%;
  }
  .resto-place-fav {
    line-height: 1.6em;
  }
  .fa-regular.fa-heart,
  .fa-solid.fa-heart {
    right: 4vw;
  }
  .menu {
    max-width: 600px;
    margin: -30px auto 0 auto;
  }
  .menu .card-dish {
    padding: 20px;
  }
  .menu .card-dish .dish-animation .fa-circle-check {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 992px) {
  body {
    min-width: 992px;
    max-width: none;
  }
  .explore-opeation {
    display: flex;
    flex-direction: row;
  }
  .explore {
    width: 50%;
    background-color: #f3ecff;
    padding-left: 10vw;
  }
  .operation {
    width: 50%;
    padding-right: 10vw;
    padding-left: 5vw;
  }
  .step {
    max-width: 25vw;
  }
  .restaurants {
    padding: 3vw 10vw;
  }
  .grid-restos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
  }
  .card-resto {
    height: 40vh;
  }
  .resto-place-fav {
    line-height: 1.6em;
  }
  .icons {
    width: 10vw;
    height: 10vw;
  }
  .bg-icons {
    width: 15vw;
    height: 15vw;
  }
}

/*# sourceMappingURL=style.css.map */
