nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fa-arrow-left {
  font-size: 1.2em;
}

img {
  width: 100%;
}

.menu {
  margin-top: -50px;
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 40px 40px 0 0;
  .resto-name-fav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    h2 {
      font-family: "Shrikhand", cursive;
      font-size: 1.7em;
      font-weight: 400;
    }
    .fa-heart {
      font-size: 1.2em;
    }
  }
  h3 {
    font-size: 0.9em;
    font-weight: 400;
    padding: 10px 0;
  }
  h3::after {
    content: "";
    display: block;
    width: 36px;
    padding-top: 5px;
    border-bottom: 3px solid #99e2d0;
  }
  .card-dish-price {
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    .dish-animation {
      width: 10vh;
      height: 50px;
      position: absolute;
      right: -10vh;
      background-color: #99e2d0;
      animation: dish-checked 0.5s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 330ms ease-in-out;
      &:hover {
        opacity: 1;
        transform: translate(-10vh);
      }
      .fa-circle-check {
        color: white;
        font-size: 1.5em;
        &:hover {
          transform: rotate(1turn);
          transition: transform 500ms ease-in-out;
        }
      }
    }
    h4 {
      font-size: 1em;
      padding-bottom: 5px;
    }
    .description-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .description {
        font-size: 0.83em;
      }
      .price {
        font-weight: bold;
      }
    }
  }

  //   transform-origin: right 50%;
  @keyframes dish-checked {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-100);
    }
  }
  .order {
    text-align: center;
    .btn {
      width: 50vw;
      margin-bottom: 20px;
    }
  }
}
