nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
}

.fa-arrow-left {
  font-size: 1.3em;
  position: absolute;
  left: 5%;
  top: 45%;
  &:hover {
    color: $color-primary;
    font-size: 1.5em;
  }
}

.menu {
  margin-top: -50px;
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 40px 40px 0 0;
  @media screen and (min-width: 769px) and (max-width: 991px) {
    max-width: 600px;
    margin: -30px auto 0 auto;
  }
  @media screen and (min-width: 992px) {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
  }
}
.resto-name-fav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
  @media screen and (min-width: 992px) {
    justify-content: center;
    .fa-regular.fa-heart,
    .fa-solid.fa-heart {
      right: 10vw;
    }
  }
  h2 {
    font-family: "Shrikhand", cursive;
    font-size: 1.7em;
    font-weight: 400;
  }
}
.starters,
.main-course,
.desserts {
  margin-top: 10px;
}
h3 {
  font-size: 0.9em;
  font-weight: 400;
  padding: 10px 0;
}
h3::after {
  content: "";
  display: block;
  width: 36px;
  padding-top: 5px;
  border-bottom: 3px solid #99e2d0;
}

.card-dish {
  background-color: white;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 15px;
  line-height: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  @media screen and (min-width: 769px) and (max-width: 991px) {
    padding: 15px;
  }
  h4 {
    font-size: 1em;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .description-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    .description {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 7px;
    }
    .price {
      font-weight: bold;
    }
  }
}
